{% extends "layout.html.twig" %}

{% block content %}
 <div class="container">
    <header class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Skybet Test</h3>
    </header>

    <main role="main">

      <div class="row">
      	<table class="table">
      		<thead>
      			<tr>
      				<th></th>
      				<th></th>
      				<th></th>
      			</tr>
      		</thead>
      		<tbody>
      			<th></th>
      			<th></th>
      			<th></th>
      		</tbody>
      	</table>
      </div>

    </main>

    <footer class="footer">
      <p>&copy; 2017</p>
    </footer>
	</div>
{% endblock %}
